@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  /* background-color: #2b88f0; */
  background-color: rgb(10, 10, 10);
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
img {
  width: max-content;
}
